@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Bold/Cond.woff2') format('woff2'),
       url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Bold/Cond.woff') format('woff'),
       url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Bold/Cond.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Regular/Cond.woff2') format('woff2'),
       url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Regular/Cond.woff') format('woff'),
       url('../fonts/DIN/30640/Std/Neuzeit/Grotesk/Regular/Cond.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

.font-din {
  font-family: 'DIN', sans-serif;
}